#container{
  height: 500px;
  width: 500px;
  background-color: lightgrey;
  display: flex;
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content: space-around; */
  justify-content: space-between;
}

#container div{
  height: 100px;
  width: 100px;
}

#div1 {
  background-color: red;
}

#div2 {
  background-color: cyan;
}

#div3 {
  background-color: green;
}
